/*SOBRE MI*/
.bodySobreMi {
  background-color: black;
}
.sectionBio {
  background-image: url(../img/oeba.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.texto-bio {
  font-weight: 500;
}
